/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

header {
  height: 500px;
  background-color: #282fc0;
}

nav {
  float: right;
  margin-right: 50px;
}

.nav-item {
  margin-right: 20px;
  margin-top: 20px;
  color: #f5f5f5;
  cursor: pointer;
}

.nav-item-active {
  margin-right: 30px;
  border: 2px solid #f5f5f5;
  background-color: #f5f5f5;
  color: #282fc0;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

nav>svg {
  width: 20px;
  height: 20px;
}

.logo {
  margin-top: 20px;
  margin-left: 100px;
}

.header-text {
  float: left;
  color: #f5f5f5;
  margin-top: 100px;
  margin-left: 100px;
}

.header-text>h2 {
  font-size: 40px;
  font-weight: 400;
}

.header-text>p {
  font-size: 17.5px;
  margin-top: 20px;
}

.header-image {
  float: right;
  width: 675px;
}

.companies {
  margin-left: 100px;
  margin-top: 30px;
}

.company-items {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bolder;
  margin-right: 40px;
  font-family: Righteous;
}

.api {
  margin-left: 100px;
  margin-top: 100px;
}

.api-heading {
  font-size: 45px;
  font-weight: bold;
}

.cards {
  display: flex;
  margin-top: 50px;
}

.card {
  width: 20%;
  height: 250px;
  margin-right: 30px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 15px;
  height: 275px;
  cursor: pointer;
}

.card-active {
  width: 20%;
  margin-right: 30px;
  height: 275px;
  background-color: #fff;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 15px;
  box-shadow: 0px 2px 5px black;
  cursor: pointer;
}

.card-logo {
  margin-top: 20px;
  margin-left: 20px;
  width: 55px;
}

.card-head,
.card-head-active {
  margin-top: 20px;
  margin-left: 20px;
}

.card-head-active {
  color: #282fc0;
}

.card-body {
  margin-top: 20px;
  margin-left: 20px;
}

.blog-heading {
  margin-left: 100px;
  margin-top: 50px;
  font-size: 25px;
  line-height: 250%;
}

.blog-cards {
  display: flex;
  margin-left: 100px;
  margin-top: 50px;
}

.blog-card {
  border-radius: 15px;
  border: 1px solid #fff;
  margin-right: 100px;
  width: 40%;
  height: 287px;
  position: relative;
  cursor: pointer;
}

.blog-image {
  float: left;
  margin-right: 50px;
}

.blog-content>h6 {
  margin-top: 20px;
  color: #282fc0;
}

.blog-content>h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.blog-bottom {
  float: left;
  margin-right: 20px;
  position: absolute;
  left: 300px;
  top: 255px;
}

.blog-author {
  margin-left: 80px;
  font-size: 13px;
  font-weight: bolder;
  margin-top: 40px;
}

.faq-section {
  margin-top: 100px;
  background-color: #cbe1fa;
  height: 324px;
}

.faq-content {
  float: left;
  margin-left: 100px;
}

.faq-content>h2 {
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.faq-content>h4 {
  font-size: 12px;
  margin-bottom: 20px;
}

.faq-content>h4:nth-child(3) {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 20px;
}

.faq-content>button {
  border: 2px solid #4c52cd;
  padding: 5px 10px;
  background-color: #4c52cd;
  color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
}

.faq-image {
  float: right;
}

.download-section {
  margin-top: 100px;
  height: 200px;
}

.download-content {
  float: left;
  margin-left: 100px;
}

.download-content>h1>span {
  font-weight: 100;
}

.download-email {
  float: right;
}

form {
  position: relative;
  margin-right: 100px;
}

form>input {
  border: 2px solid #c0cef9;
  padding: 12px 300px 12px 20px;
  text-align: left;
  border-radius: 20px;
  background-color: #c0cef9;
  color: black;
  font-weight: 900;
}

form>button {
  border: 2px solid #4c52cd;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  position: absolute;
  top: 2.1px;
  left: 354px;
  background-color: #4c52cd;
  color: #f5f5f5;
  cursor: pointer;
}

.footer-section {
  background-color: #282fc0;
  height: 300px;
}

.footer-left {
  float: left;
  margin-left: 100px;
  margin-top: 100px;
}

.footer-logo {
  height: 60px;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.footer-section>div:nth-child(2) {
  float: right;
  margin-top: 100px;
  margin-right: 100px;
  width: 200px;
}

ul,
li {
  list-style: none;
  color: #f5f5f5;
  display: inline;
}

li {
  cursor: pointer;
}

.footer-section>div>div:nth-child(1) {
  display: flex;
  justify-content: space-around;
  width: 170px;
  margin-left: 15px;
}

.footer-section>div>div:nth-child(1)>img {
  margin-bottom: 50px;
  width: 40px;
  cursor: pointer;
}

.logos-list {
  list-style: none;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}